

<div  pAnimateOnScroll enterClass="fadein" leaveClass="fadeout" class="flex justify-content-center flex-wrap mt-2 mb-4 animation-duration-1000">
   
<h1>Testimonios</h1>

</div>



<div class="card flex justify-content-center p-1 mb-1">
    <!-- Contenedor principal con flexbox -->
    <div class="flex w-full align-items-stretch">

        <!-- Primer p-fieldset -->
        <p-fieldset pAnimateOnScroll enterClass="fadeinleft" leaveClass="fadeoutleft" class="flex flex-column justify-content-between w-full animation-duration-500">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2 px-2">
                    <p-avatar 
                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                        shape="circle" />
                    <span class="font-bold">Amy Elsner</span>
                </div>
            </ng-template>
            <p class="m-0 flex-grow-1 d-flex align-items-center justify-content-center">
               Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur voluptatum veniam a natus perspiciatis quaerat nulla cupiditate esse minus, modi nobis explicabo accusantium officiis similique dolorum tempore fuga ut ducimus!
            </p>
        </p-fieldset>
        
             <!-- Divider vertical -->
             <p-divider class="divider-vertical" layout="vertical" />

             <!-- Divider horizontal -->
             <p-divider class="divider-horizontal"  />

        <!-- Segundo p-fieldset -->
        <p-fieldset pAnimateOnScroll enterClass="zoomin" leaveClass="fadeout" class="flex flex-column justify-content-between w-full animation-duration-500">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2 px-2">
                    <p-avatar 
                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                        shape="circle" />
                    <span class="font-bold">Amy Elsner</span>
                </div>
            </ng-template>
            <p class="m-0 flex-grow-1 d-flex align-items-center justify-content-center">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste cum dolores totam quam, asperiores tenetur enim, ullam quo quisquam, reprehenderit ex minima temporibus quaerat neque nesciunt id quasi sint minus.
            </p>
        </p-fieldset>
        
               <!-- Divider vertical -->
               <p-divider class="divider-vertical" layout="vertical" />

               <!-- Divider horizontal -->
               <p-divider class="divider-horizontal"  />

        <!-- Tercer p-fieldset -->
        <p-fieldset pAnimateOnScroll enterClass="fadeinright" leaveClass="fadeoutright" class="flex flex-column justify-content-between w-full animation-duration-500">
            <ng-template pTemplate="header">
                <div class="flex align-items-center gap-2 px-2">
                    <p-avatar 
                        image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" 
                        shape="circle" />
                    <span class="font-bold">Amy Elsner</span>
                </div>
            </ng-template>
            <p class="m-0 flex-grow-1 d-flex align-items-center justify-content-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. A voluptatibus voluptate voluptatum mollitia nemo labore? Laboriosam quos laudantium repellat ut assumenda non, aliquam cupiditate ipsum voluptas asperiores fugit, quae exercitationem!
            </p>
        </p-fieldset>

    </div>
</div>

