.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    height: 100vh;          /* Altura del contenedor igual a la altura de la ventana del navegador */
  }


  